// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.offsetContainer {
  margin-top: 50px;
}

#public-logo {
  height: 40px;
  width: 40px;
  margin: 4px;

  padding-bottom: 5px;
}

#main-content {
  padding-top: 30px;
  padding-left: 40px;
}